.top{
  background-color: #e8ffff;
  padding: 30px;
  text-align: center;
}

.cloud1{
  position: relative;
  left: 10%;
}
.cloud2{
  position: absolute;
}
body{
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  color: #40514E;
}
h1{
  width: 30%;
  margin: 0 auto 2rem auto;
  font-family: 'Yellowtail', cursive;
  color: #66BFBF;
  font-size: 5.6rem;
}
h2{
  color: #66BFBF;
  font-size: 2.5rem;
  text-align: center;
}
h3{
  color: #11999E;
  font-size: 2rem;
}
p{
  font-style: italic;
  text-align: center;
}
.pof{
  width: 20%;
  border-radius: 100%;
}
.par{
  font-family: 'Noto Serif', serif;
  color: grey;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0 auto;
}
.profile{
  position: relative;
  text-align: center;
}
.skill-row{
  width: 60%;
  margin: 0 auto 5rem auto;
}
.skill{
  border-radius: 10%;
  width: 15%;
  float: left;
  margin: 0 2rem 0 0;
}
.adventure{
  border-radius: 10%;
  width: 15%;
  float: right;
  margin: 0 0 0 2rem;
}

hr{
  width: 20%;
  border-style: dotted;
  border-width: 10px;
  border-top: 20px;
  border-color: grey;
}
.contact-me{
  text-align: center;
}
.bottom-container{
  text-align: center;
  background-color: #e8ffff;
  padding: 50px 0 20px;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
a {
  color: #11999E;
  margin: 10px 20px;
}
a:hover{
  color: #EAF6F6;
}
